@{
    ViewBag.Title = "Início";
}

<div class="alert-info jumbotron">
    <h1 style="text-align:center">Encomendas Personalizadas de Produtos de Panificação</h1>
    <p class="lead">SMART ORDER - Aplicação Web realizada no âmbito da unidade curricular de Tecnologias de Internet II</p>
</div>


<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#77C9C8">
                <h4><i class="fa fa-fw fa-compass"></i> Ver Produtos</h4>
            </div>
            <div class="panel-body" style="background-color:#ebfedd">
                <b><p>Veja aqui os produtos que a Smart Order tem ao seu dispor.</p></b>
                <p>Se desejar realizar uma encomenda, efetue o registo previamente!</p>
                <a href="/Produtos/Index" class="btn btn-default">Ver Produtos</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#ffc04c">
                <h4><i class="fa fa-fw fa-compass"></i> Ver xxxxxxx</h4>
            </div>
            <div class="panel-body" style="background-color:#fdffd5">
                <b><p>Veja aqui bla bla bla.</p></b>
                <p>Por definir!</p>
                <a href="/Produtos/Index" class="btn btn-default">Ver zzzzz</a>
            </div>
        </div>
    </div>

</div>